### ２−３　練習

- １）9時00分00秒から3333秒後は、何時何分何秒ですか？

- ２）1)を計算する関数を作りなさい。

In [6]:
fun=3333//60
byo=3333%60
jikan=3333//3600
print(str(9+jikan)+'時'+str(fun)+'分'+str(byo)+'秒')

9時55分33秒

In [67]:
def imananji(x):
    jikan=x//3600
    fun=(x-jikan*3600)//60
    byo=(x-jikan*3600)%60
    result=str(9+jikan)+'時'+str(fun)+'分'+str(byo)+'秒'
    return result

imananji(12050)

'12時20分50秒'

### ３−４ 練習

- １）近畿地区の国立大学の名称と緯度・経度の辞書を作成しなさい。

In [68]:
univ_dic={'Kyoto University':(35.026244,135.780822),'Kyoto University of Education':(34.950215,135.773187),'Kyoto Institute of Technology':(35.049664,135.782046)}
print('京都教育大学の場所は',univ_dic['Kyoto University of Education'])

京都教育大学の場所は (34.950215, 135.773187)

### ４−５　練習

- １）　2022年元旦から12月末まで木曜日の日付を出力しなさい。

In [88]:
month=[1,2,3,4,5,6,7,8,9,10,11,12]
day=[31,28,31,30,31,30,31,31,30,31,30,31]

months=[]
days=[]
for i,j in zip(month,day):
    months.extend([i]*day[i-1])
    days.extend(list(range(1,j+1)))

p=[(x,y)for x,y in zip(months[5::7],days[5::7])]
    
print(p)

[(1, 6), (1, 13), (1, 20), (1, 27), (2, 3), (2, 10), (2, 17), (2, 24), (3, 3), (3, 10), (3, 17), (3, 24), (3, 31), (4, 7), (4, 14), (4, 21), (4, 28), (5, 5), (5, 12), (5, 19), (5, 26), (6, 2), (6, 9), (6, 16), (6, 23), (6, 30), (7, 7), (7, 14), (7, 21), (7, 28), (8, 4), (8, 11), (8, 18), (8, 25), (9, 1), (9, 8), (9, 15), (9, 22), (9, 29), (10, 6), (10, 13), (10, 20), (10, 27), (11, 3), (11, 10), (11, 17), (11, 24), (12, 1), (12, 8), (12, 15), (12, 22), (12, 29)]

In [85]:
import calendar as cal
print(cal.calendar(2022,3))

                                             2022

          January                          February                          March
Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun
                      1   2            1   2   3   4   5   6            1   2   3   4   5   6
  3   4   5   6   7   8   9        7   8   9  10  11  12  13        7   8   9  10  11  12  13
 10  11  12  13  14  15  16       14  15  16  17  18  19  20       14  15  16  17  18  19  20
 17  18  19  20  21  22  23       21  22  23  24  25  26  27       21  22  23  24  25  26  27
 24  25  26  27  28  29  30       28                               28  29  30  31
 31

           April                             May                              June
Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun
                  1   2   3                                1                1   2   3   4   5
  4   5   6   7   8   9  10        2   3   4   5   6   7   8        6   7   8   9  10  11  12
 11  12  13  14  15  16  17        9  10  11  12  13  14  15       13  14  15  16  17  18  19
 18  19  20  21  22  23  24       16  17  18  19  20  21  22       20  21  22  23  24  25  26
 25  26  27  28  29  30           23  24  25  26  27  28  29       27  28  29  30
                                  30  31

            July                            August                         September
Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun
                  1   2   3        1   2   3   4   5   6   7                    1   2   3   4
  4   5   6   7   8   9  10        8   9  10  11  12  13  14        5   6   7   8   9  10  11
 11  12  13  14  15  16  17       15  16  17  18  19  20  21       12  13  14  15  16  17  18
 18  19  20  21  22  23  24       22  23  24  25  26  27  28       19  20  21  22  23  24  25
 25  26  27  28  29  30  31       29  30  31                       26  27  28  29  30

          October                          November                         December
Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun
                      1   2            1   2   3   4   5   6                    1   2   3   4
  3   4   5   6   7   8   9        7   8   9  10  11  12  13        5   6   7   8   9  10  11
 10  11  12  13  14  15  16       14  15  16  17  18  19  20       12  13  14  15  16  17  18
 17  18  19  20  21  22  23       21  22  23  24  25  26  27       19  20  21  22  23  24  25
 24  25  26  27  28  29  30       28  29  30                       26  27  28  29  30  31
 31